
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

img {
    height: 60px;
    padding: 10px;
}

header {
    background-image: linear-gradient( 100deg, #dddddd, blue);
    width: 100%;
}

body {
    background-image: linear-gradient( 100deg, #dddddd, blue);
}

a {
    text-decoration: none;
    outline: none;
    color: white
}

a:hover{
    color: black;
}


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
   
}


.pai {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin-top: 5px;
}


#config h2 {
    padding: 30px 0 0 0;
    cursor: pointer;
}

#config a {
    padding: 10px;
    font-size: 22px;
    display: block;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    color: white;
}



footer {
    background-color: transparent;
    width: 99vw;
    height: 20vh;
    padding: 5px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    color: black;
    background-image: linear-gradient( 100deg, #dddddd, blue);
}

p {
    white-space: nowrap;
}



.rodape {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}



.rodape1 {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.rodape2 {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center end;
    align-items: center;
    padding: 5px;
}

.divIcon {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.icone {
    height: 50px;
}