/*padrão da página toda*/
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    color: black
}

/*define tamanho da imagem*/
img {
    height: 60px;
    padding: 10px;
}

#hover{
    color: black;
    border-radius: 15px;
}


#hover:hover {
  
    color: white;
    background-color: dodgerblue;
    text-decoration: underline;
    border-radius: 15px;
}
/*cabeçalho*/
header {
    width: 100%;
}

header a {
        text-decoration: none;
        outline: none;
        color: black
}

/*links do body*/
body a {
    text-decoration: none;
    outline: none;
    color: blue
}

h1{
    color: black;
    text-decoration: dotted;
}
/*quando passsar o mouse no link do body*/
body a:hover{
    color: black;
}

/*padrao da div cabeçalho*/
.cabecalho {
    display: flex;
    align-items: center;
    background-color:skyblue;
    justify-content: space-between;
}

/*padrão da main*/
.main {
    padding: 10px;
    
    border-radius: 10px;
}

/*cor da body*/
body {
    background-color: aliceblue;
}

/*configuração do h2*/
#config h2 {
    padding: 30px 0 0 0;
    cursor: pointer;
}

/*configuração do rodapé*/
footer {
   
    width: 99vw;
    height: 20vh;
    padding: 5px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    color: black;
    
}

/*configuração do parágrafo*/
p {
    white-space: nowrap;
}


/*configuração do primeiro rodapé*/
.rodape {

    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}


/*configuração do segundo rodapé*/
.rodape1 {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

/*configuração do terceiro rodapé*/
.rodape2 {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center end;
    align-items: center;
    padding: 5px;
}

/*configuração do Icone*/
.divIcon {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

/*tamanho do icone*/
.icone {
    height: 50px;
}