
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    color: black
}

img {
    height: 60px;
    padding: 10px;
}


header {
    
    width: 100%;
}


body a {
    text-decoration: none;
    outline: none;
    color: blue
}

body a:hover{
    color: black;
}


.cabecalho {
    display: flex;
    align-items: center;
    background-color:lightskyblue;
    justify-content: space-between;
}
.main {
    padding: 10px;
    
    border-radius: 10px;
}

body {
    background-color: aliceblue;
}




#config h2 {
    padding: 30px 0 0 0;
    cursor: pointer;
}




footer {
   
    width: 99vw;
    height: 20vh;
    padding: 5px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    color: black;
    
}

p {
    white-space: nowrap;
}



.rodape {

    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}



.rodape1 {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.rodape2 {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center end;
    align-items: center;
    padding: 5px;
}

.divIcon {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.icone {
    height: 50px;
}