@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/CriarChamado.css" asp-append-version="true" />

<div class="text-start">
    <div class="bgimg">
        <div class="img">
            <br />
            <br />
            <img src="~/lib/hoda.png" class="logo" alt="Logo">
        </div>
        <div class="middle">
            <h1>BEM-VINDOS AO HODA</h1>
            <hr>
        </div>
        <div class="bottomleft">
            <p>O novo sistema de Tickets para Help Desk</p>
        </div>
        <div class="aumentar">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>


