<link rel="stylesheet" href="~/css/sobre.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Sobre";
}

<div class="about">
    <h1>Sobre</h1>
    <br />
    <p>HODA é um sistema de helpdesk projetado para gestão de suporte técnico. </p>
    
    
        <p></p>
    <l>O Hoda contribui para uma experiência de suporte mais eficiente, aumentando a produtividade da equipe de suporte e melhorando a satisfação do cliente.</l>
        <p></p>
        <li> Possui uma interface intuitiva.</li>
    <li>Centraliza todas as solicitações de suporte em um único local.</li>
    <li>Otimiza os processos de suporte técnico.</li>
    <li>Aumenta a satisfação do cliente e a eficiência das equipes de suporte.</li>
    <li>Impulsiona o sucesso do negócio como um todo. </li>
    <br />
    <p>Uma verdadeira mão na HODA.</p>

    <h3>Sobre Mim</h3>
    <l>
        Victor Colovatto Borioli é o criador do sistema, com o propósito de implementar um projeto para a finalização da
        Academia de .Net da Atos em parceria com a UFN.
    </l>
    <l>
        Estudante de Análise e Desenvolvimento de Sistemas, técnico em Informática pelo SENAI e atualmente trabalhando na Atos como analista de
        Service Desk procura solucionar alguns problemas nas aplicações de Help Desk, como a complexidade dos sistemas e a lentidão.
    </l>
   
    

    
</div>

